/* Included site fonts */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/* Base styles */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 40px;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #444444;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
}

a {
  color: inherit;
}

.main-container {
  flex-grow: 1;
}

.box-center {
  width: 1160px;
  margin: 0 auto;
}

/* Скрывающий класс */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
  font-family: "Raleway", sans-serif;
  border: 0;
  color: #000000;
  font-weight: 800;
  cursor: pointer;
  background: transparent;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.button-accross {
  font-size: 18px;
  line-height: 21px;
}

/* Header */
.page-header {
  padding: 50px 60px 12px 60px;
  box-sizing: border-box;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  background-color: #ffe17f;
}

.logo-link {
  display: block;
  margin-top: -73px;
}

.page-header .logo {
  margin-bottom: 36px;
}

.site-search {
  width: 516px;
  margin-right: 24px;
}

.site-search-field {
  width: 480px;
  height: 20px;
  margin-left: 20px;
  color: inherit;
  font-size: 16px;
  line-height: 19px;
}

/* User navigation */
.navigation-user-list {
  display: flex;
  margin: 0 0 44px 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.navigation-user-link {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Main navigation */
.navigation-main-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.navigation-main-link {
  color: inherit;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

/* Main */

/* Slider */
.slider {
  margin-bottom: 109px;
}

.slide {
  display: flex;
  flex-direction: column;
}

.slide-number {
  display: flex;
  justify-content: end;
  align-items: end;
  margin: 0;
  padding-right: 49px;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  color: #ffffff;
  font-weight: 800;
  font-size: 180px;
  line-height: 120px;
  text-align: right;
  background-color: #ffe17f;
}

.slide-columns {
  display: flex;
  margin-top: -150px;
  justify-content: space-between;
}

.slide-column {
  width: 560px;
  height: 560px;
}

.slide-title {
  margin: 120px 0 19px 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
}

.slide-description {
  margin: 0 0 30px 0;
}

.feature-parameter {
  color: #000000;
  font-size: 36px;
  line-height: 30px;
}

.feature-name {
  font-size: 16px;
  line-height: 30px;
}

/* Categories */
.categories {
  margin-top: 70px;
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.categories-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.category-item {
  width: 160px;
}

.category-img {
  display: flex;
  height: 160px;
  margin-bottom: 33px;
  background-color: #ffe17f;
}

.category-img img {
  margin: auto;
}

.category-img-bottom img {
  margin-bottom: 0;
}

.category-link {
  color: inherit;
  text-decoration: none;
}

/* Services */
.services {
  margin-top: 169px;
  margin-bottom: 90px;
  background-color: #f0f0f0;
}

.services-wrapper {
  width: 1094px;
  display: flex;
}

.services .button-active {
  color: #ffe17f;
  background-color: #000000;
}

.services-tab-list,
.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-tab-list {
  width: 280px;
}

.services-list {
  flex: 1;
  margin-left: 120px;
}

.services-item {
  display: flex;
}

.services-about {
  width: 500px;
}

.services-title {
  margin: 0 0 14px 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
}

.services-about p {
  margin: 0;
}

.services-item img {
  margin-left: auto;
}

/* Delivery */
.button-delivery {
  width: 100%;
  height: 100px;
  margin-bottom: 97px;
  font-size: 20px;
  line-height: 23px;
  background-color: #f0f0f0;
}

/* About */
.contact-info {
  display: flex;
  margin-bottom: 87px;
  justify-content: space-between;
}

.about {
  width: 560px;
}

.about-list {
  color: #000000;
  font-weight: bold;
  line-height: 20px;
}

/* Contacts */
.contacts {
  width: 560px;
}

.contacts-sub-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.contacts-address {
  font-style: normal;
}

/* Subscribe */
.subscribe {
  padding: 75px 0 131px 0;
  background-color: #f0f0f0;
}

.subscribe-info,
.subscribe-form {
  display: flex;
}

.subscribe-info {
  margin-bottom: 50px;
  justify-content: space-between;
}

.subscribe-title,
.subscribe-description {
  width: 560px;
  margin: 0;
}

.subscribe-email {
  width: 560px;
  height: 30px;
  margin-right: 40px;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.subscribe-button {
  margin-right: 136px;
}

/* Catalog page  */

/* Breadcrumbs */
.breadcrumbs {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

/* Catalog */
.catalog-products {
  color: #000000;
  font-size: 16px;
  line-height: 19px;
}

.catalog-title {
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-title-link {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.product-card-price {
  color: #444444;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.pagination {
  background-color: #ebebeb;
}

.more-products {
  font-size: 16px;
  line-height: 19px;
}

.pagination-link {
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination-prev,
.pagination-next {
  font-size: 16px;
  line-height: 19px;
}

/* Footer */
.page-footer {
  color: #ffffff;
  background-color: #444444;
}

.footer-wrapper {
  padding: 62px 0;
}

.footer-top,
.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-top {
  margin-top: 35px;
  margin-bottom: 49px;
}

.footer-ha-logo {
  fill: #ffc700;
}

.footer-ha-logo path {
  fill: #ffc700;
}

.footer-address a,
.footer-phone a {
  text-decoration: none;
}

.footer-address {
  width: 238px;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.footer-address p {
  margin: 0;
}

.footer-phone {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.navigation-footer-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 458px;
  list-style: none;
  justify-content: space-between;
}

.navigation-footer-link {
  color: inherit;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}


.footer-social-list {
  display: flex;
}
