/* Included site fonts */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/* Base styles */
html {
  height: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

body {
  display: flex;
  min-width: 1440px;
  flex-direction: column;
  margin: 0;
  padding-top: 40px;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #444444;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
}

a {
  color: inherit;
}

.main-container {
  flex-grow: 1;
}

.box-center {
  width: 1160px;
  margin: 0 auto;
}

/* Скрывающий класс */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Raleway", sans-serif;
  padding: 0;
  border: 0;
  color: #000000;
  font-weight: 800;
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.button-accross {
  z-index: 1;
  position: relative;
  font-size: 18px;
  line-height: 21px;
  outline: 0;
}

.button-accross::before {
  display: block;
  z-index: -1;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  height: 8px;
  content: "";
  margin-top: -4px;
  background-color: #ffe17f;
}

.button-accross:focus::before {
  outline: 0;
  background-color: #af4fff;
}

.button-accross:hover::before {
  top: 0;
  bottom: 0;
  height: auto;
  margin: 0;
  background-color: #ffe17f;
}

.button-accross:active::before {
  top: 0;
  bottom: 0;
  height: auto;
  margin: 0;
  background-color: #ffe17f;
}

.button-accross:active {
  opacity: 0.3;
}

.button-info {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: initial;
}

.field {
  border: 0;
  box-sizing: border-box;
}
.field-error,
.field-warning {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}

.field-error {
  color: #ff3d3d;
}

.field-warning {
  color: #000000;
}

.arrow {
  padding: 10px;
  border: 0;
  background: transparent;
  cursor: pointer;
  fill: rgba(0, 0, 0, 0.2);
}

.arrow-active {
  fill: #000000;
}

.arrow:focus {
  outline: 5px solid #af4fff;
}

.arrow:hover {
  fill: rgba(0, 0, 0, 0.5);
}

.arrow:active {
  outline: 0;
  fill: #000000;
}

/* Всплывающая плашка */
.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  box-sizing: border-box;
  background-color: #000000;
}

.popup-open {
  display: block;
}

.popup::before {
  top: -6px;
  display: block;
  position: absolute;
  content: "";
  width: 14px;
  height: 6px;
  background: url('../img/triangle.svg') no-repeat 50% 50%;
}

.popup.popup-center::before {
  left: 50%;
  transform: translateX(-50%);
}

.popup.popup-right::before {
  right: 50px;
}

/* Ползунок */
.range {
  position: relative;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 16px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.catalog-filter-label {
  top: 16px;
  position: absolute;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-filter-label:first-of-type{
  left: 9px;
  transform: translateX(-50%);
}

.catalog-filter-label:last-child {
  right: 9px;
  transform: translateX(50%);
}

.range-input {
  outline: none;
  width: 10px;
  padding: 0;
  font: inherit;
  color: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-toggle:focus {
  outline: 0;
  border-color:  #af4fff;
}

.range-toggle:focus + label {
  color: #af4fff;
}

.range-toggle:active {
  outline: 0;
  background: #000000;
  border-color:  #000000;
}

.range-toggle:active + label {
  color: #000000;
}

/* Чекбокс */
.control {
  position: relative;
  display: block;
  padding-left: 37px;
  cursor: pointer;
}

/* Mark */
.control-mark {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.control-mark-cirlce {
  border-radius: 50%;
}

.control-mark-icon {
  display: none;
}

.control-input[type="radio"]:checked + .control-mark .control-mark-icon,
.control-input[type="checkbox"]:checked + .control-mark .control-mark-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  width: 10px;
  height: 10px;
}

.control:not(.control:focus):not(.control:hover) .control-input[type="radio"]:checked + .control-mark,
.control:not(.control:focus):not(.control:hover) .control-input[type="checkbox"]:checked + .control-mark {
  border-color: #000000;
}

.control:focus {
  outline: 0;
  color: #af4fff;
}

.control:focus .control-mark {
  border-color: #af4fff;
}

.control:focus .control-mark-icon {
  fill: #af4fff;
}

.control:hover .control-input[type="radio"]:checked + .control-mark,
.control:hover .control-input[type="checkbox"]:checked + .control-mark{
  border-color: rgba(0, 0, 0, 0.5);
}

.control:hover .control-input[type="radio"]:checked + .control-mark .control-mark-icon,
.control:hover .control-input[type="checkbox"]:checked + .control-mark .control-mark-icon {
  fill: rgba(0, 0, 0, 0.5);
}

.control:hover .control-input[type="radio"]:checked ~ .control-label,
.control:hover .control-input[type="checkbox"]:checked ~ .control-label {
  color: rgba(0, 0, 0, 0.5);
}

.control:active .control-input[type="radio"]:checked + .control-mark,
.control:active .control-input[type="checkbox"]:checked + .control-mark {
  border-color: rgba(0, 0, 0, 0.2);
}

.control:active .control-input[type="radio"]:checked + .control-mark .control-mark-icon,
.control:active .control-input[type="checkbox"]:checked + .control-mark .control-mark-icon {
  fill: rgba(0, 0, 0, 0.2);
}

.control:active .control-input[type="radio"]:checked ~ .control-label,
.control:active .control-input[type="checkbox"]:checked ~ .control-label {
  color: rgba(0, 0, 0, 0.2);
}

/* Иконки */
.icon-user::before,
.icon-email::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-user::before {
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
}

.icon-email::before {
  width: 15px;
  height: 12px;
  background-image: url("../img/mail.svg");
}


/* Счетчик */
.counter {
  height: 50px;
  position: relative;
  background-color: #F0F0F0;
}

.counter-input {
  height: 100%;
  padding: 0 50px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.counter-dec-btn,
.counter-inc-btn {
  position: absolute;
  top: 50%;
  margin-top: -16px;
}

.counter-dec-btn {
  left: 9px;
}

.counter-inc-btn {
  right: 9px;
}

.counter-inc-btn::before,
.counter-dec-btn::before {
  display: flex;
  width: 16px;
  height: 16px;
  border: 0;
  padding: 0;
  cursor: pointer;
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  opacity: 0.3;
}
.counter-inc-btn::before {
  background-image: url("../img/plus.svg")
}
.counter-dec-btn::before {
  background-image: url("../img/minus.svg")
}

/* Header */
.page-header {
  position: relative;
  padding: 50px 60px 38px 60px;
  box-sizing: border-box;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  background-color: #ffe17f;
}

.logo-link {
  position: relative;
  display: block;
  margin-top: -73px;
  margin-bottom: 35px;
  width: 145px;
  height: 36px;
}

.page-header .logo {
  max-width: 146px;
  height: auto;
}

.page-header-content {
  display: grid;
  grid-template-columns: 516px 1fr;
  column-gap: 24px;
  row-gap: 29px;
  align-items: center;
}

.site-search {
  display: flex;
  position: relative;
  width: 516px;
}

.site-search-icon {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
}

.site-search-field {
  width: 100%;
  height: 20px;
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
  padding-left: 36px;
  padding-right: 170px;
  background: transparent;
  border: 0;
  color: #000000;
  border-radius: 20px;
}

.site-search-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.site-search .button-search {
  position: absolute;
  padding: 0;
  top: -10px;
  right: -10px;
  width: 160px;
  height: 40px;
  font-size: 16px;
  line-height: 19px;
  border: 0;
  background: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 0 20px 20px 0;
}

.site-search-field,
.site-search .button-search {
  outline-width: 2px;
  outline-style: solid;
  outline-color: transparent;
}

.site-search-field:invalid + .button-search {
  display: none;
}

.site-search-field:not(.site-search-field:invalid) {
  outline-offset: 10px;
  outline-color: #000000;
}

.site-search-field:not(.site-search-field:invalid) + .button-search {
  outline-color: #000000;
}

.site-search-field:not(.site-search-field:invalid) + .button-search:focus {
  outline-color: #af4fff;
}

.site-search-field:not(.site-search-field:invalid) + .button-search:hover {
  color: #ffffff;
  background-color: #000000;
  outline-color: #000000;
}

.site-search-field:not(.site-search-field:invalid) + .button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  border-color: transparent;
}

.site-search-field:focus {
  outline-offset: 10px;
  outline-color: #af4fff;
}

.site-search-field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

/* User navigation */
.navigation-user-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.navigation-user-item {
  position: relative;
  display: flex;
  align-items: center;
}

.navigation-username {
  margin-left: 12px;
}

.navigation-user-item:first-child {
  margin-right: auto;
}
.navigation-user-item:last-child {
  margin-left: 40px;
}

.navigation-user-link {
  position: relative;
  display: block;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: 0;
  padding-left: 23px;
  box-sizing: border-box;
}

.navigation-user-link.entered {
  opacity: 0.3;
  padding-left: 0;
  margin-left: 30px;
  margin-right: 20px
}

.navigation-user-link-cart {
  padding-left: 41px;
}

.navigation-user-link svg {
  position: absolute;
  fill: #000000;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.navigation-user-link-cart svg {
  left: 15px
}

.cart-count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 21px;
  height: 21px;
  font-size: 14px;
  line-height: 17px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #ffffff;
  border-radius: 50%;
  vertical-align: middle;
}

.navigation-user-link:focus {
  outline-offset: 10px;
  border-radius: 20px;
  outline: 2px solid #af4fff;
}

.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link:active {
  outline: none;
  opacity: 0.3;
}

.navigation-user-logout {
  display: flex;
  justify-content: space-between;
}

.navigation-user-logout .navigation-user-link {
  opacity: 0.3;
}

/* Popup into user navigation list */
.navigation-user-list .popup {
  z-index: 4;
  top: 32px;
  left: -138px;
  width: 320px;
}

/* Main navigation */
.navigation-catalog-list {
  position: relative;
  display: flex;
}

.navigation-main-list,
.navigation-catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-main-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.navigation-main-list li {
  margin-right: 34px;
}

.navigation-main-list li:nth-child(3n) {
  margin-left: auto;
  margin-right: 0;
}

.navigation-main-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: inherit;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation-main-link:focus {
  border-radius: 25px;
  outline: 2px solid #af4fff;
  outline-offset: 10px;
}

.navigation-catalog-link::after {
  display: block;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 50%;
  background: url("../img/plus.svg") no-repeat 50% 50%;
  opacity: 0.2;
  content: "";
}

.navigation-catalog-link:hover::after {
  opacity: 1;
  background: url("../img/minus.svg") no-repeat 50% 50%;
}

.navigation-catalog-link:focus + .sub-menu,
.navigation-catalog-link:hover  + .sub-menu {
  display: block;
}

.navigation-main-link:hover::before {
  display: block;
  position: absolute;
  top: auto;
  right: 0;
  bottom: -8px;
  left: 0;
  content: "";
  height: 2px;
  background: #000000;
}

.navigation-catalog-list .navigation-main-link::before {
  content: none;
}

.navigation-main-link:active,
.navigation-catalog-list .button-catalog:active,
.navigation-main-link:active + .button-catalog {
  outline: 0;
  opacity: 0.3;
}

/* Sub menu */
.sub-menu {
  display: none;
  z-index: 3;
  position: absolute;
  top: 74px;
  left: -60px;
  width: 1160px;
  padding: 13px 60px 53px 60px;
  background: #ffe17f;
  box-sizing: border-box;
}

.sub-menu-open {
  display: block;
}

.sub-menu-list {
  display: grid;
  column-gap: 45px;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
}

.sub-menu-list,
.sub-menu-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sub-menu-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 20px;
}

.sub-menu-link {
  text-decoration: none;
}

.sub-menu-link:focus {
  outline: 2px solid #af4fff;
  border-radius: 25px;
  outline-offset: 7px;
}

.sub-menu-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sub-menu-link:active {
  outline: 0;
  color: rgba(0, 0, 0, 0.3);
}

/* Main */

/* Slider */
.slider {
  position: relative;
  margin-bottom: 110px;
}

.slider .button-accross {
  display: flex;
  width: 220px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.slide {
  display: flex;
  flex-direction: column;
}

.slide-number {
  display: flex;
  justify-content: end;
  align-items: end;
  margin: 0;
  padding-right: 49px;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  color: #ffffff;
  font-weight: 800;
  font-size: 180px;
  line-height: 120px;
  text-align: right;
  background-color: #ffe17f;
}

.slide-columns {
  display: flex;
  margin-top: -150px;
  justify-content: space-between;
}

.slide-column {
  position: relative;
  width: 560px;
  height: 560px;
}

.slider-button {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 80px;
  margin-top: -40px;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.slider-button.slider-prev {
  left: 0;
  background: url("../img/left-tall-arrow.svg") no-repeat 50% 50%;
}

.slider-button.slider-next {
  right: 0;
  background: url("../img/right-tall-arrow.svg") no-repeat 50% 50%;
}

.slider-button:focus {
  border: 2px solid #af4fff;
  border-radius: 6px;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
  border: 0;
}

.slide-title {
  margin: 120px 0 19px 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
}

.slide-description {
  margin: 0 0 60px 0;
}

.slide-controls {
  display: flex;
  margin-bottom: 70px;
  justify-content: space-between;
  align-items: center;
}

.slider-pagination {
  top: 378px;
  right: 61px;
  position: absolute;
  display: flex;
  width: 80px;
  padding: 0;
  margin: 0 61px 0 0;
  list-style-type: none;
  justify-content: space-between;
  line-height: 0;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #000000;
}

.slider-pagination-button:focus {
  outline: 0;
  border-color: #af4fff;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.3;
  border-color: inherit;
}

.slider-pagination-button-current {
  background: #000000;
}

.feature {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.feature-item {
  width: 160px;
}

.feature-parameter {
  display: block;
  color: #000000;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 10px;
}

.feature-name {
  display: block;
  font-size: 16px;
  line-height: 30px;
}

/* Categories */
.categories {
  margin-bottom: 150px;
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.categories-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.category-item {
  width: 160px;
}

.category-link::before {
  display: block;
  height: 160px;
  margin-bottom: 33px;
  box-sizing: border-box;
  background-color: #ffe17f;
  content: "";
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.category-link.category-icon-monopod::before {
  background-position-y: 100%;
}

.category-link {
  color: inherit;
  text-decoration: none;
}

.category-link:focus {
  outline: 0;
  color: #af4fff;
}

.category-link:focus::before {
  outline: 5px solid #af4fff;
}

.category-link:hover::before {
  background-color: #ffc700;
}

.category-link:active {
  color: #b3b3b3;
}

.category-link:active .category-img {
  border: 0;
}

.category-icon-vr::before {
  background-image: url("../img/categories/vr.svg");
}

.category-icon-monopod::before {
  background-image: url("../img/categories/monopods.svg");
}

.category-icon-camera::before {
  background-image: url("../img/categories/cameras.svg");
}

.category-icon-bracelet::before {
  background-image: url("../img/categories/bracelets.svg");
}

.category-icon-watch::before {
  background-image: url("../img/categories/watch.svg");
}

.category-icon-quadrocopter::before {
  background-image: url("../img/categories/quadcopters.svg");
}


/* Services */
.services {
  min-height: 288px;
  margin-bottom: 90px;
  background-color: #f0f0f0;
}

.services-wrapper {
  width: 1094px;
  display: flex;
}

.services .button {
  height: 40px;
  min-width: 160px;
  margin-bottom: 35px;
  text-align: left;
}

.services .button span {
  display: inline-block;
  min-width: inherit;
  text-align: center;
}

.services .button-accross::before {
  background-color: #ffc700;
}

.services .button-accross:focus {
  outline: 0;
}

.services .button-accross:focus::before {
  background-color: #af4fff;
}

.services .button-accross:hover::before {
  background-color: #ffc700;
}

.services .button-accross {
  opacity: 1;
}

.services .button-accross:active {
  color: #ffe17f;
  width: 100%;
}

.services .button-accross:active::before {
  background-color: #000000;
}

.services .button-service-active {
  color: #ffe17f;
  width: 100%;
}

.services .button-service-active::before {
  top: 0;
  right: 7px;
  bottom: 0;
  height: auto;
  margin: 0;
  background-color: #000000;
}

.services-tab-list,
.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-tab-list {
  position: relative;
  width: 280px;
  margin-top: -80px;
  padding-top: 60px;
}

.services-tab-list::after {
  position: absolute;
  top: 0;
  bottom: 69px;
  right: 0;
  display: block;
  width: 7px;
  background: #000000;
  content: "";
}

.services-list {
  flex: 1;
  margin-top: -28px;
  margin-left: 120px;
}

.services-item {
  display: flex;
  margin-bottom: 139px;
}

.services-about {
  width: 500px;
}

.services-title {
  margin: 0 0 34px 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
}

.services-about p {
  margin: 0;
}

.services-item img {
  margin-top: auto;
  margin-left: auto;
}

/* Delivery */
.button-delivery {
  display: flex;
  width: 100%;
  height: 100px;
  padding: 0;
  margin-bottom: 97px;
  font-size: 20px;
  line-height: 23px;
  background-color: #f0f0f0;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.button-delivery-icon {
  display: flex;
  width: 125px;
  height: 100%;
  background-color: #ffe17f;
  align-items: center;
  justify-content: center;
}

.button-delivery .button-info svg {
  opacity: 0.3;
}

.button-delivery .button-info {
  margin-right: 33px;
  background: rgba(220, 220, 220, 0.5);
}

.button-delivery:focus {
  outline: 5px solid #af4fff;
}

.button-delivery:hover .button-delivery-icon {
  background-color: #ffc700;
}

.button-delivery:hover .button-info {
  background: #dcdcdc;
}

.button-delivery:hover .button-info svg {
  opacity: 1;
}

.button-delivery:active .button-info {
  background: #dcdcdc;
}

.button-delivery:active .button-text,
.button-delivery:active .button-icon svg,
.button-delivery:active .button-info svg {
  opacity: 0.3;
}

/* About */
.contact-info {
  display: flex;
  margin-bottom: 87px;
  justify-content: space-between;
}

.contact-info .button-accross {
  display: flex;
  width: 260px;
  height: 50px;
  align-self: flex-start;
  margin-top: 67px;
  align-items: center;
  justify-content: center;
}

.contact-info p {
  margin-top: 0;
  margin-bottom: 30px;
}

.contact-info h2 {
  margin-top: 0;
  margin-bottom: 46px;
}

.contact-info h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

.about {
  display: flex;
  width: 560px;
  flex-direction: column;
  justify-content: space-between;
}

.about-list {
  padding: 0;
  margin-top: 50px;
  margin-bottom: 0;
  color: #ffc700;
  font-weight: bold;
  line-height: 20px;
  list-style-position: inside;
}

.about-list-item {
  margin-bottom: 20px;
}

.about-list-item span {
  color: #000000;
  margin-bottom: 20px;
}

/* Contacts */
.contacts {
  display: flex;
  width: 560px;
  flex-direction: column;
  justify-content: space-between;
}

.contacts-sub-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contacts-address {
  font-style: normal;
}

/* Subscribe */
.subscribe {
  padding: 75px 0 131px 0;
  background-color: #f0f0f0;
}

.subscribe-info,
.subscribe-form {
  display: flex;
}

.subscribe-info {
  margin-bottom: 50px;
}

.subscribe-title {
  width: 560px;
}

.subscribe-title,
.subscribe-description {
  width: 560px;
  margin: 0;
}

.subscribe-email,
.subscribe-button  {
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
}

.subscribe-email {
  width: 560px;
  height: 55px;
  padding: 9px;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  color: rgba(68, 68, 68, 0.5);
  border-width: 0 0 3px 0;
  background: transparent;
  font-size: 16px;
  line-height: 30px;
  outline: 0;
}

.subscribe-email:focus {
  background: #dcdcdc;
}

.subscribe-email:hover{
  color: rgba(68, 68, 68, 0.7);
  border-color: rgba(0, 0, 0, 0.2);
}

.subscribe-email:hover{
  color: #444444;
  border-color: rgba(0, 0, 0, 1);
  background: transparent;
}

.subscribe-email:invalid {
  border-color: #ff3d3d;
}

.subscribe-button {
  width: 260px;
  height: 55px;
  border-width: 3px;
  font-size: 18px;
  line-height: 21px;
}

.subscribe-button:focus {
  outline: 0;
  border-color: #af4fff;
}

.subscribe-button:hover {
  color: #ffffff;
  background: #000000;
  border-color: #000000;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-free {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
  line-height: 30px;
  padding-left: 35px;
  background: url("../img/tick-big.svg") no-repeat 0 50%;
}

/* Catalog page  */

/* Breadcrumbs */

.breadcrumbs-header {
  padding-left: 60px;
  box-sizing: border-box;
}

.breadcrumbs-header-title {
  margin: 37px 0 14px 0;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 49px 0;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
  list-style-type: none;
}

.breadcrumbs-item:not(.breadcrumbs-item:last-child){
  position: relative;
  padding-right: 34px;
}

.breadcrumbs-item:not(.breadcrumbs-item:last-child)::after {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -2px;
  width: 4px;
  height: 7px;
  background: url("../img/nav-arrow.svg") no-repeat;
  opacity: 0.2;
  content: "";
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link:focus {
  outline: 5px solid #af4fff;
  outline-offset: 5px;
}

.breadcrumbs-link[href]:hover {
  color: #000000;
}

.breadcrumbs-link[href]:active {
  outline: 0;
  color: rgba(0, 0, 0, 0.3);
}

/* Catalog */
.catalog {
  color: #000000;
  font-size: 16px;
  line-height: 19px;
}

.catalog-columns {
  display: flex;
}

.catalog-filter-bookmark,
.catalog-filter-controls {
  min-width: 328px;
  flex-grow: 1;
  flex-basis: 328px;
}

.catalog-sort-controls,
.catalog-products {
  min-width: 832px;
  flex-grow: 1;
  flex-basis: 832px;
}

.catalog-filter-bookmark,
.catalog-sort-controls {
  height: 70px;
}

.catalog-sort-controls,
.catalog-filter-controls {
  background-color: #ebebeb;
}

.catalog-filter-bookmark {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #dcdcdd;
}

.catalog-filter-bookmark .catalog-title {
  margin-right: 169px;
}

.catalog-filter-controls {
  display: flex;
  justify-content: flex-end;
}

.catalog-filter-controls .button-accross {
  height: 40px;
}

.catalog-filter-controls .button-accross::before {
  background-color: #ffc700;
}

.catalog-filter-controls .button-accross:focus::before {
  outline: 0;
  background-color: #af4fff;
}

.catalog-filter-controls .button-accross:hover::before {
  background-color: #ffc700;
}

.catalog-filter-controls .button-accross {
  opacity: 1;
}

.catalog-filter-controls .button-accross:active {
  opacity: 0.3;
}

.catalog-title {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-sort-form {
  display: flex;
  height: 100%;
  align-items: center;
  max-width: 832px;
}

.catalog-sort-form .catalog-title {
  margin-left: 72px;
}

.catalog-sort-by {
  display: inline-block;
  position: relative;
  padding-right: 26px;
  margin-left: 51px;
}

.catalog-sort-by-dropdown {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -3px;
  fill: #000000;
}

.catalog-sort-by select{
  outline: 0;
  height: 20px;
  width: auto;
  border: 0;
  font-size: 16px;
  line-height: 19px;
  font: inherit;
  cursor: pointer;
  appearance: none;
  color: #000000;
  background: transparent;
}

.catalog-sort-by:focus {
  outline: 5px solid #af4fff;
  outline-offset: 7px;
}

.catalog-sort-by:hover select {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-sort-by:hover .catalog-sort-by-dropdown {
  fill: rgba(0, 0, 0, 0.6);
}

.catalog-sort-by:active select {
  outline: 0;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-sort-by:active .catalog-sort-by-dropdown {
  fill: rgba(0, 0, 0, 0.3);
}

.catalog-sort-buttons {
  margin-left: auto;
}

.catalog-filters {
  width: 200px;
  margin-top: 71px;
  margin-right: 69px;
}

.catalog-filters .button-accross{
  width: 100%;
}

.catalog-filter-group {
  position: relative;
  padding: 60px 0 0 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 45px 0;
  border-width: 2px 0 0 0;
  border-color: #000000;
}

.catalog-filter-title {
  position: absolute;
  top: 12px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(.catalog-filter-item:last-child) {
  margin-bottom: 20px;
}

.catalog-products {
  box-sizing: border-box;
  padding-left: 72px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
  margin: 0 0 44px 0;
  padding: 69px 0 0 0;
  list-style-type: none;
  max-width: 760px;
  box-sizing: border-box;
}

.product-card {
  position: relative;
}

.product-card .button-accross {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card .button-accross::before {
  background-color: #ffc700;
}

.product-card .button-accross:focus::before {
  outline: 0;
  background-color: #af4fff;
}

.product-card .button-accross:hover::before {
  background-color: #ffc700;
}

.product-card-link {
  display: block;
  width: 100%;
  height: auto;
}

.product-card-link.new {
  position: relative;
}

.product-card-link.new::before {
  display: flex;
  position: absolute;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  content: 'New';
  text-transform: uppercase;
  border-radius: 50%;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  padding-left: 0.2em;
}

.product-card-link:focus {
  outline: 5px solid #af4fff;
}

.product-card-link:focus + .product-card-bottom .product-title-link {
  color: #af4fff;
}

.product-card-more {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  width: 360px;
  height: 380px;
  background: rgba(240, 240, 240, 0.8);
}

.product-card-more .button-accross {
  z-index: 2;
  position: absolute;
  top: 180px;
  left: 50%;
  height: 50px;
  width: 160px;
  margin-left: -80px;
}

.product-title-link:focus {
  color: #af4fff;
  outline: 0;
}

.product-card:hover .product-card-more {
  display: block;
}

.product-card-more .button-accross:active {
  opacity: 1;
  color:rgba(0, 0, 0, 0.3);
}

.product-card-bottom {
  display: flex;
  margin-top: 32px;
  align-items: baseline;
  justify-content: space-between;
}

.product-title {
  margin: 0;
  max-width: 280px;
}

.product-title-link {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.product-card-image {
  max-width: 360px;
  height: auto;
}

.product-card-price {
  color: #444444;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  margin-left: 16px;
  flex-shrink: 0;
}

.pagination {
  display: flex;
  margin: 0 0 77px 0;
  padding: 0;
  max-width: 760px;
  height: 70px;
  background-color: #ebebeb;
  list-style-type: none;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.more-products {
  width: 100%;
  height: 55px;
  max-width: 760px;
  margin-bottom: 51px;
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
  border: 3px solid #ebebeb;
}

.more-products:focus {
  outline: 0;
  border-color: #af4fff;
}

.more-products:hover {
  border-color: #000000;
}

.more-products:active {
  opacity: 0.3;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  color: #bdbdbd;
  box-sizing: border-box;
  text-decoration: none;
}

.pagination-link:focus {
  outline: 0;
  border: 5px solid #af4fff;
}

.pagination-link:hover {
  color: #444444;
}

.pagination-link:active {
  border: 0;
  color: rgba(0, 0, 0, 0.1);
}


.pagination-prev,
.pagination-next {
  width: 127px;
  height: 70px;
  font-size: 16px;
  line-height: 19px;
}

.pagination-prev:focus,
.pagination-next:focus {
  outline: 0;
  border: 5px solid #af4fff;
  background-color: #f0f0f0;
}

.pagination-prev:hover,
.pagination-next:hover {
  background-color: #dcdcdc;
}

.pagination-prev:active,
.pagination-next:active {
  background-color: #dcdcdc;
  border: 0;
  color:rgba(0, 0, 0, 0.3);
}


/* Footer */
.page-footer {
  color: #ffffff;
  background-color: #444444;
}

.footer-wrapper {
  padding: 62px 0;
}

.footer-top,
.footer-bottom {
  display: flex;
}

.footer-top {
  margin-top: 35px;
  margin-bottom: 49px;
}

.footer-ha-logo {
  fill: #ffc700;
}

.footer-address a,
.footer-phone a {
  text-decoration: none;
}

.footer-ha-logo-link:focus {
  outline: 2px solid #af4fff;
  border-radius: 10px;
  outline-offset: 10px;
}

.footer-ha-logo-link:hover .footer-ha-logo {
  fill: #ffffff;
}

.footer-ha-logo-link:active {
  outline: 0;
}

.footer-ha-logo-link:active .footer-ha-logo {
  opacity: 0.3;
}

.footer-address {
  width: 238px;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.footer-address p {
  margin: 0;
}

.footer-phone {
  display: flex;
  height: 50px;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.footer-phone a:focus {
  border-radius: 25px;
  outline: 2px solid #af4fff;
  outline-offset: 10px;
}

.footer-phone a:hover {
  color: #ffc700;
}

.footer-phone a:active{
  outline: 0;
  opacity: 0.3;
}

.navigation-footer {
  margin-left: 114px;
  margin-right: auto;
}

.navigation-footer-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 500px;
}

.navigation-footer-item {
  font-size: 18px;
  line-height: 21px;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.navigation-footer-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  height: 100%;
  padding: 0 calc(15px - 0.2em) 0 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
}

.navigation-footer-link:focus {
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.navigation-footer-link:hover {
  color: #ffc700;
}

.navigation-footer-link:hover::before {
  display: block;
  position: absolute;
  top: auto;
  right: calc(15px - 0.2em);
  bottom: 7px;
  left: 15px;
  content: "";
  height: 2px;
  background: #ffc700;
}

.navigation-footer-link:active {
  outline: 0;
  opacity: 0.3;
}

.footer-decor {
  margin: 0;
  width: 80px;
  height: 7px;
  background: #ffc700;
  align-self: center;
  border: 0;
}

.footer-social {
  justify-content: center;
  margin-left: 425px;
  margin-right: auto;

}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 40px 40px 40px;
  gap: 15px;
  list-style-type: none;
}

.footer-social-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
}

.social-icon {
  fill: #444444;
}

.social-button:focus {
  outline: 5px solid #af4fff;
}

.social-button:focus .social-icon {
  fill: #ffffff;
}

.social-button:hover {
  background: #ffc700;
}

.social-button:active {
  outline: 0;
  background: #ffc700;
}

.social-button:active .social-icon{
  outline: 0;
  fill: #444444;
  opacity: 0.3;
}

/* Модальное окно */
.modal-container {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: rgba(240, 240, 240, 0.9);
}

.modal-open {
  display: flex;
}

.modal {
  position: relative;
  margin: auto;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 85px;
  right: 70px;
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: 0;
  background: url("../img/delete.svg") no-repeat 50% 50%;
  background-size: cover;
  cursor: pointer;
  border-radius: 50%;
}

.modal-close-button:focus {
  outline: 5px solid #af4fff;
  outline-offset: 12px;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  outline: 0;
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  font-size: 50px;
  line-height: 50px;
  padding-right: 26px;
  margin-bottom: 58px;
}

.modal-delivery {
  width: 920px;
  height: auto;
  padding: 70px;
  box-sizing: border-box;
  border: 10px solid #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}


/* Форма доставки */
.delivery-form {
  display: grid;
  grid-template-columns: 160px 160px 160px 160px;
  column-gap: 40px;
  row-gap: 40px;
}

.delivery-form .form-item {
  position: relative;
}

.delivery-form .form-item:nth-child(1) {
  grid-column: 1/3;
}

.delivery-form .form-item:nth-child(2) {
  grid-column: 3/5;
}

.delivery-form .form-item:nth-child(3) {
  grid-column: 1/4;
}

.delivery-form .field-label {
  display: block;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
}

.delivery-form .field-info {
  padding-right: 50px;
}


.delivery-form .popup {
  z-index: 4;
  top: 34px;
  left: -130px;
  width: 200px;
  height: auto;
  padding: 20px;
}

.delivery-form .button-info {
  position: absolute;
  top: 0;
  right: 14px;
  width: 26px;
  height: 26px;
  margin-left: 10px;
  background-color: #ffe17f;
}

.delivery-form .button-info:hover .popup {
  display: block;
}

.delivery-form .field {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding: 15px 44px 15px 20px;
  background-color: #F0F0F0;
}

.delivery-form .counter input {
  background: transparent;
}

.delivery-form .counter button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.delivery-form .field,
.delivery-form .counter input,
.delivery-form .counter button {
  border: 0;
  color: #000000;
}

.delivery-form input:invalid {
  outline: 3px solid #ff3d3d;
}

.delivery-form input:focus {
  outline: 5px solid #af4fff;
}

.delivery-form input:active {
  outline: 3px solid #000000;
}

.delivery-form .button-accross {
  width: 200px;
  height: 50px;
  margin-top: 14px;
}

.delivery-form .counter-dec-btn:focus,
.delivery-form .counter-inc-btn:focus {
  outline: 2px solid #af4fff;
}

.delivery-form .button-accross::before {
  background-color: #ffc700;
}

.delivery-form .button-accross:focus::before {
  background-color: #af4fff;
}

.delivery-form .button-accross:hover::before {
  background-color: #ffc700;
}

.delivery-form .field-wrap {
  position: relative;
}

.delivery-form .icon-user::before,
.delivery-form .icon-email::before {
  top: 50%;
  right: 24px;
  position: absolute;
  margin-top: -6px;
  opacity: 0.3;
}

/* Корзина */
.cart-item-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cart-item {
  display: grid;
  padding: 20px;
  grid-template-columns: 43px 180px 20px;
  column-gap: 20px;
}

.cart-item-title {
  order: 1;
  margin: 0;
  text-decoration: none;
}

.cart-item-title:focus {
  color: #af4fff;
}

.cart-item-title:focus + img {
  outline: 5px solid #af4fff;
}

.cart-item-title:hover {
  color: rgba(255, 255, 255, 0.6);
}

.cart-item-title:hover + img {
  opacity: 0.6;
}

.cart-item-title:active {
  color: rgba(255, 255, 255, 0.3);
}

.cart-item-title:active + img {
  outline: 0;
  opacity: 0.3;
}

.cart-item-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
  padding: 0;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
  align-self: center;
  width: 25px;
  height: 25px;
}

.cart-item-delete svg {
  fill: #ffffff;
}

.cart-item-delete:focus {
  outline: 2px solid #af4fff;
}

.cart-item-delete:hover svg {
  fill:rgba(255, 255, 255, 0.6);
}

.cart-item-delete:active {
  outline: 0;
}

.cart-item-delete:active svg {
  fill:rgba(255, 255, 255, 0.3);
}

.cart-total-bar {
  display: grid;
  padding: 20px;
  background-color: #1a1a1a;
  grid-template-columns: minmax(100px, max-content) minmax(140px, 180px);
}

.cart-total-goods,
.cart-total-price {
  margin: 0;
}

.cart-total-price {
  justify-self: right;
}

.cart-button {
  display: flex;
  margin: 20px;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-weight: 800;
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
}

.cart-button:focus {
  outline: 5px solid #af4fff;
}

.cart-button:hover {
  background-color: #ffe17f;
}

.cart-button:active {
  outline: 0;
  color:rgba(0, 0, 0, 0.3);
  background-color: #ffe17f;
}
